<!DOCTYPE html>
<html>
<head>
    <title>Marketplace Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>SheetMarket</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/products">Produk</a></li>
        <li><a href="/contact">Kontak</a></li>
    </ul>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
